<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a48844f0-0f04-4c28-97c0-2982510b491e/resourceGroups/rg-open-dev-westuk-001/providers/Microsoft.Web/sites/BertBlazor</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bertblazor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c83d486e-8fdf-4626-9cc0-400abe01adea</ProjectGuid>
    <PublishUrl>https://bertblazor.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BertBlazor</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>